<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="UTF-8">
  <title>Zlatý vrch</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="https://use.typekit.net/als5dkd.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

  {% block header %}
  {% include "./partials/header.html" %}
  {% endblock %}


  <div class="main-content">
    {% block content %}{% endblock %}
  </div>

  {% block footer %}
  {% include "./partials/footer.html" %}
  {% endblock %}

  <script src="main.js"></script>
</body>

</html>
