{% extends "./base.html" %}

{% block content %}
<div class="view">
  <section class="intro">
    <img src="img/svg/logo-white.svg" alt="" class="intro-logo">
    <div class="scroller js-scroller fading-animation">
    </div>
    <div class="intro-text">
      rezidenční rodinné domy
    </div>
  </section>
  <section class="family-houses" id="section2">
    <div class="family-houses-slider js-family-houses-slider">
      <img data-lazy="img/jpg/house-1.jpg" alt="">
      <img data-lazy="img/jpg/house-1.jpg" alt="">
      <img data-lazy="img/jpg/house-1.jpg" alt="">
    </div>
    <div class="family-houses-text">
      <div class="container">
        <h1>
          UNIKÁTNÍ <br>
          <strong>RODINNÉ DOMY</strong>
        </h1>
        <img src="img/png/family-houses-img.png" alt="" class="d-lg-none">
        <div class="row">
          <div class="col-lg-7 col-xl-5">
            <h2 class="text-center text-md-start">
              Vyberte si parcelu <br>
              <strong>pro váš ideální dům</strong>
            </h2>
            <div class="row villa-stats">
              <div class="col-4 d-flex flex-column flex-md-row align-items-center villa-stats-item">
                23
                <span>
                  parcel<br>
                  celkem
                </span>
              </div>
              <div class="col-4 d-flex flex-column flex-md-row align-items-center villa-stats-item">
                5
                <span>
                  typů<br>
                  domů
                </span>
              </div>
              <div class="col-4 d-flex flex-column flex-md-row align-items-center villa-stats-item">
                6
                <span>
                  parcel<br>
                  prodáno
                </span>
              </div>
            </div>
            <p class="mb-5">
              Připravili jsme pro Vás unikátní projekt bydlení v samostatných rodinných domech na jedné z nejlepších lokalit v Olomouci. Na rozsáhlém území jsme vytvořili urbanistický celek, který se skládá z pozemků rodinných domů a přilehlého rekreačního parku.
            </p>
            <p>
              Dignissim, ac efficitur enim rutrum. Vivamus lacinia egestas dolor ut consequat. Curabitur sed nisi purus. Maecenas condimentum vitae dui id faucibus. Sed quis ligula bibendum, fermentum felis non, gravida ante. Pellentesque vestibulum at turpis eget ornare. Mauris vestibulum faucibus ultricies. Aliquam efficitur aliquam dolor, ac fermentum turpis. Suspendisse eget ex sem. Nam finibus est metus, eget rhoncus purus porttitor et.
            </p>
          </div>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between my-5">
          <h2 class="mb-3 mb-md-0">Přehled pozemků</h2>
          <a href="#" class="btn btn-primary">
            Stáhnout ceník
            <span class="icon icon-pdf"></span>
          </a>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <th>číslo</th>
              <th>velikost</th>
              <th>Vega</th>
              <th>Carina</th>
              <th>Cassiopea</th>
              <th>Andromeda</th>
              <th>Auriga</th>
              <th>stav</th>
            </thead>
            <tbody>
              <tr>
                <td class="number">01</td>
                <td>664,9 m2</td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-x"></span></td>
                <td class="text-green">VOLNÝ</td>
              </tr>
              <tr>
                <td class="number">01</td>
                <td>664,9 m2</td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-x"></span></td>
                <td class="text-green">VOLNÝ</td>
              </tr>
              <tr>
                <td class="number">01</td>
                <td>664,9 m2</td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-x"></span></td>
                <td class="text-green">VOLNÝ</td>
              </tr>
              <tr>
                <td class="number">01</td>
                <td>664,9 m2</td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-x"></span></td>
                <td class="text-green">VOLNÝ</td>
              </tr>
              <tr>
                <td class="number">01</td>
                <td>664,9 m2</td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-x"></span></td>
                <td class="text-green">VOLNÝ</td>
              </tr>
              <tr>
                <td class="number">01</td>
                <td>664,9 m2</td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-x"></span></td>
                <td class="text-green">VOLNÝ</td>
              </tr>
              <tr>
                <td class="number">01</td>
                <td>664,9 m2</td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-free"></span></td>
                <td><span class="icon icon-x"></span></td>
                <td class="text-green">VOLNÝ</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p class="best-locality-text mb-0">
        NEJLEPŠÍ LOKALITA V OLOMOUCI
      </p>
    </div>
  </section>
  <section class="about-us">
    <div class="container h-100 d-flex flex-column">
      <h2>
        O projektu <br>
        <strong>Rezidence Zlatý Vrch</strong>
      </h2>
      <div class="row g-5 mt-auto mb-5 quotes-bg">
        <div class="col-lg-6">
          <p>
            Projekt je situován do stabilizovaného území a v jeho těsné blízkosti už není plánována další zástavba. Domy jsou umístěny na svažitém pozemku, který je vyrovnán terénními terasami, což umožňuje panoramatický <strong>výhled do okolní krajiny a na město Olomouc</strong>. V sousedství vznikne současně s projektem rozsáhlý park, který bude sloužit pro odpočinek nejen novým ale i stávajícím obyvatelům.
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            Na parcelách jsme navrhli pět typů domů, které lze různě umístit  na jednotlivé pozemky. Domy mají jednotnou architekturu ale rozdílné tvarosloví a dispozice. Poloha projektu, který je situován nad městem, umožní novým obyvatelům získat zdravý nadhled na život kolem sebe a v klidu odpočívat. Rezidence Zlatý Vrch je určena pro náročnou klientelu, která hledá projekt, který by plně rezonoval s jejími <strong>individuálními představami</strong>.
          </p>
        </div>
      </div>
      <div class="about-us-slider js-about-us-slider">
        <img data-lazy="img/jpg/about-img-1.jpg" alt="">
        <img data-lazy="img/jpg/about-img-2.jpg" alt="">
        <img data-lazy="img/jpg/about-img-1.jpg" alt="">
        <img data-lazy="img/jpg/about-img-2.jpg" alt="">
      </div>
    </div>
  </section>
  <section class="villa-types">
    <div class="villa-types-item villa-types-item--left">
      <div class="row g-0">
        <div class="col-xl-6">
          <div class="villa-types-slider villa-types-slider--left js-villa-types-slider">
            <img data-lazy="img/jpg/villa-1.jpg" alt="">
            <img data-lazy="img/jpg/villa-2.jpg" alt="">
          </div>
        </div>
        <div class="col-xl-6">
          <div class="villa-types-text">
            <h2 class="mb-5">
              Vila <strong>Carina</strong>
              <span class="d-inline-flex align-items-center">
                /&nbsp;5&nbsp;
                <span>
                  VOLNÝCH<br>
                  POZEMKŮ
                </span>
              </span>
            </h2>
            <p class="mb-3 mb-lg-5">Jednoduchá čistá architektura ve funkcionalistickém duchu. Čisté linie dvou vedle sebe posazených hmot s jasně bílou fasádou a několika kontrastními plochami fasád které dokreslují čistotu kompozice. Jednoduchost domu přechází z exteriéru do interiéru, má praktickou dispozici, čtyři samostatné pokoje a obývací pokoj s kuchyňským koutem.</p>
            <div class="row g-3 g-lg-4 mb-5">
              <div class="col-md-6">
                <div class="villa-types-tile">
                  DISPOZICE
                  <span>5kk</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  garáž [m2]
                  <span>12.34</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  UŽITNÁ PLOCHA [m2]
                  <span>123.45</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  počet podlaží
                  <span>2</span>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row align-items-center">
              <a href="#" class="btn btn-primary me-4 mb-3 mb-md-0">podrobnosti</a>
              <a href="#" class="btn btn-secondary">
                stáhnout kartu domu
                <span class="icon icon-pdf-gold"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="villa-types-item">
      <div class="row g-0">
        <div class="col-xl-6 order-2 order-xl-1">
          <div class="villa-types-text">
            <h2 class="mb-5">
              Vila <strong>Carina</strong>
              <span class="d-inline-flex align-items-center">
                /&nbsp;5&nbsp;
                <span>
                  VOLNÝCH<br>
                  POZEMKŮ
                </span>
              </span>
            </h2>
            <p class="mb-3 mb-lg-5">Jednoduchá čistá architektura ve funkcionalistickém duchu. Čisté linie dvou vedle sebe posazených hmot s jasně bílou fasádou a několika kontrastními plochami fasád které dokreslují čistotu kompozice. Jednoduchost domu přechází z exteriéru do interiéru, má praktickou dispozici, čtyři samostatné pokoje a obývací pokoj s kuchyňským koutem.</p>
            <div class="row g-3 g-lg-4 mb-5">
              <div class="col-md-6">
                <div class="villa-types-tile">
                  DISPOZICE
                  <span>5kk</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  garáž [m2]
                  <span>12.34</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  UŽITNÁ PLOCHA [m2]
                  <span>123.45</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  počet podlaží
                  <span>2</span>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row align-items-center">
              <a href="#" class="btn btn-primary me-4 mb-3 mb-md-0">podrobnosti</a>
              <a href="#" class="btn btn-secondary">
                stáhnout kartu domu
                <span class="icon icon-pdf-gold"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 order-1 order-xl-2">
          <div class="villa-types-slider js-villa-types-slider">
            <img data-lazy="img/jpg/villa-1.jpg" alt="">
            <img data-lazy="img/jpg/villa-2.jpg" alt="">
          </div>
        </div>
      </div>

    </div>
    <div class="villa-types-item villa-types-item--left">
      <div class="row g-0">
        <div class="col-xl-6">
          <div class="villa-types-slider villa-types-slider--left js-villa-types-slider">
            <img data-lazy="img/jpg/villa-1.jpg" alt="">
            <img data-lazy="img/jpg/villa-2.jpg" alt="">
          </div>
        </div>
        <div class="col-xl-6">
          <div class="villa-types-text">
            <h2 class="mb-5">
              Vila <strong>Carina</strong>
              <span class="d-inline-flex align-items-center">
                /&nbsp;5&nbsp;
                <span>
                  VOLNÝCH<br>
                  POZEMKŮ
                </span>
              </span>
            </h2>
            <p class="mb-3 mb-lg-5">Jednoduchá čistá architektura ve funkcionalistickém duchu. Čisté linie dvou vedle sebe posazených hmot s jasně bílou fasádou a několika kontrastními plochami fasád které dokreslují čistotu kompozice. Jednoduchost domu přechází z exteriéru do interiéru, má praktickou dispozici, čtyři samostatné pokoje a obývací pokoj s kuchyňským koutem.</p>
            <div class="row g-3 g-lg-4 mb-5">
              <div class="col-md-6">
                <div class="villa-types-tile">
                  DISPOZICE
                  <span>5kk</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  garáž [m2]
                  <span>12.34</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  UŽITNÁ PLOCHA [m2]
                  <span>123.45</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  počet podlaží
                  <span>2</span>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row align-items-center">
              <a href="#" class="btn btn-primary me-4 mb-3 mb-md-0">podrobnosti</a>
              <a href="#" class="btn btn-secondary">
                stáhnout kartu domu
                <span class="icon icon-pdf-gold"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="villa-types-item">
      <div class="row g-0">
        <div class="col-xl-6 order-2 order-xl-1">
          <div class="villa-types-text">
            <h2 class="mb-5">
              Vila <strong>Carina</strong>
              <span class="d-inline-flex align-items-center">
                /&nbsp;5&nbsp;
                <span>
                  VOLNÝCH<br>
                  POZEMKŮ
                </span>
              </span>
            </h2>
            <p class="mb-3 mb-lg-5">Jednoduchá čistá architektura ve funkcionalistickém duchu. Čisté linie dvou vedle sebe posazených hmot s jasně bílou fasádou a několika kontrastními plochami fasád které dokreslují čistotu kompozice. Jednoduchost domu přechází z exteriéru do interiéru, má praktickou dispozici, čtyři samostatné pokoje a obývací pokoj s kuchyňským koutem.</p>
            <div class="row g-3 g-lg-4 mb-5">
              <div class="col-md-6">
                <div class="villa-types-tile">
                  DISPOZICE
                  <span>5kk</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  garáž [m2]
                  <span>12.34</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  UŽITNÁ PLOCHA [m2]
                  <span>123.45</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  počet podlaží
                  <span>2</span>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row align-items-center">
              <a href="#" class="btn btn-primary me-4 mb-3 mb-md-0">podrobnosti</a>
              <a href="#" class="btn btn-secondary">
                stáhnout kartu domu
                <span class="icon icon-pdf-gold"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 order-1 order-xl-2">
          <div class="villa-types-slider js-villa-types-slider">
            <img data-lazy="img/jpg/villa-1.jpg" alt="">
            <img data-lazy="img/jpg/villa-2.jpg" alt="">
          </div>
        </div>
      </div>

    </div>
    <div class="villa-types-item villa-types-item--left">
      <div class="row g-0">
        <div class="col-xl-6">
          <div class="villa-types-slider villa-types-slider--left js-villa-types-slider">
            <img data-lazy="img/jpg/villa-1.jpg" alt="">
            <img data-lazy="img/jpg/villa-2.jpg" alt="">
          </div>
        </div>
        <div class="col-xl-6">
          <div class="villa-types-text">
            <h2 class="mb-5">
              Vila <strong>Carina</strong>
              <span class="d-inline-flex align-items-center">
                /&nbsp;5&nbsp;
                <span>
                  VOLNÝCH<br>
                  POZEMKŮ
                </span>
              </span>
            </h2>
            <p class="mb-3 mb-lg-5">Jednoduchá čistá architektura ve funkcionalistickém duchu. Čisté linie dvou vedle sebe posazených hmot s jasně bílou fasádou a několika kontrastními plochami fasád které dokreslují čistotu kompozice. Jednoduchost domu přechází z exteriéru do interiéru, má praktickou dispozici, čtyři samostatné pokoje a obývací pokoj s kuchyňským koutem.</p>
            <div class="row g-3 g-lg-4 mb-5">
              <div class="col-md-6">
                <div class="villa-types-tile">
                  DISPOZICE
                  <span>5kk</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  garáž [m2]
                  <span>12.34</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  UŽITNÁ PLOCHA [m2]
                  <span>123.45</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="villa-types-tile">
                  počet podlaží
                  <span>2</span>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row align-items-center">
              <a href="#" class="btn btn-primary me-4 mb-3 mb-md-0">podrobnosti</a>
              <a href="#" class="btn btn-secondary">
                stáhnout kartu domu
                <span class="icon icon-pdf-gold"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="home-standards">
    <div class="d-flex flex-column flex-lg-row">
      <div id="standardsTabs" class="home-standards-section home-standards-section--left order-2 order-lg-1">
        <div class="standards-tab show" id="tab1">
          <h2>Sanita</h2>
          <div class="standards-accordion">
            <div class="standards-accordion-item">
              <a href="#" class="standards-accordion-link js-standards-accordion-link">
                Umyvadla a umývátka
                <span class="icon icon-plus ms-auto me-0"></span>
                <span class="icon icon-minus ms-auto me-0 d-none"></span>
              </a>
              <div class="standards-accordion-inner">
                <ul>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                </ul>
                <div class="standards-accordion-slider js-standards-accordion-slider">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                </div>
              </div>
            </div>
            <div class="standards-accordion-item">
              <a href="#" class="standards-accordion-link js-standards-accordion-link">
                Umyvadla a umývátka
                <span class="icon icon-plus ms-auto me-0"></span>
                <span class="icon icon-minus ms-auto me-0 d-none"></span>
              </a>
              <div class="standards-accordion-inner">
                <ul>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                </ul>
                <div class="standards-accordion-slider js-standards-accordion-slider">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                </div>
              </div>
            </div>
            <div class="standards-accordion-item">
              <a href="#" class="standards-accordion-link js-standards-accordion-link">
                Umyvadla a umývátka
                <span class="icon icon-plus ms-auto me-0"></span>
                <span class="icon icon-minus ms-auto me-0 d-none"></span>
              </a>
              <div class="standards-accordion-inner">
                <ul>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                </ul>
                <div class="standards-accordion-slider js-standards-accordion-slider">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                </div>
              </div>
            </div>
            <div class="standards-accordion-item">
              <a href="#" class="standards-accordion-link js-standards-accordion-link">
                Umyvadla a umývátka
                <span class="icon icon-plus ms-auto me-0"></span>
                <span class="icon icon-minus ms-auto me-0 d-none"></span>
              </a>
              <div class="standards-accordion-inner">
                <ul>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                </ul>
                <div class="standards-accordion-slider js-standards-accordion-slider">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                </div>
              </div>
            </div>
            <div class="standards-accordion-item">
              <a href="#" class="standards-accordion-link js-standards-accordion-link">
                Umyvadla a umývátka
                <span class="icon icon-plus ms-auto me-0"></span>
                <span class="icon icon-minus ms-auto me-0 d-none"></span>
              </a>
              <div class="standards-accordion-inner">
                <ul>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                </ul>
                <div class="standards-accordion-slider js-standards-accordion-slider">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-primary">
              stáhnout standardy
              <span class="icon icon-pdf me-0 ms-3"></span>
            </a>
          </div>
        </div>
        <div class="standards-tab" id="tab2">
          <h2>Podlahy</h2>
          <div class="standards-accordion">
            <div class="standards-accordion-item">
              <a href="#" class="standards-accordion-link js-standards-accordion-link">
                WC
                <span class="icon icon-plus ms-auto me-0"></span>
                <span class="icon icon-minus ms-auto me-0 d-none"></span>
              </a>
              <div class="standards-accordion-inner">
                <ul>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                </ul>
                <div class="standards-accordion-slider js-standards-accordion-slider">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                </div>
              </div>
            </div>
            <div class="standards-accordion-item">
              <a href="#" class="standards-accordion-link js-standards-accordion-link">
                WC
                <span class="icon icon-plus ms-auto me-0"></span>
                <span class="icon icon-minus ms-auto me-0 d-none"></span>
              </a>
              <div class="standards-accordion-inner">
                <ul>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                </ul>
                <div class="standards-accordion-slider js-standards-accordion-slider">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                </div>
              </div>
            </div>
            <div class="standards-accordion-item">
              <a href="#" class="standards-accordion-link js-standards-accordion-link">
                WC
                <span class="icon icon-plus ms-auto me-0"></span>
                <span class="icon icon-minus ms-auto me-0 d-none"></span>
              </a>
              <div class="standards-accordion-inner">
                <ul>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                </ul>
                <div class="standards-accordion-slider js-standards-accordion-slider">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                </div>
              </div>
            </div>
            <div class="standards-accordion-item">
              <a href="#" class="standards-accordion-link js-standards-accordion-link">
                WC
                <span class="icon icon-plus ms-auto me-0"></span>
                <span class="icon icon-minus ms-auto me-0 d-none"></span>
              </a>
              <div class="standards-accordion-inner">
                <ul>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                </ul>
                <div class="standards-accordion-slider js-standards-accordion-slider">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                </div>
              </div>
            </div>
            <div class="standards-accordion-item">
              <a href="#" class="standards-accordion-link js-standards-accordion-link">
                WC
                <span class="icon icon-plus ms-auto me-0"></span>
                <span class="icon icon-minus ms-auto me-0 d-none"></span>
              </a>
              <div class="standards-accordion-inner">
                <ul>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                  <li>dvojumyvadlo Villeroy & Boch Avento 1200 x 470 mm, barva bílá Alpin</li>
                </ul>
                <div class="standards-accordion-slider js-standards-accordion-slider">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                  <img data-lazy="img/png/standards-1.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-primary">
              stáhnout standardy
              <span class="icon icon-pdf me-0 ms-3"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="home-standards-section home-standards-section--right order-1 order-lg-2">
        <h2>Standard domů</h2>
        <div class="row g-3 g-lg-4">
          <div class="col-6">
            <a href="#tab2" class="home-standards-tab-link js-home-standards-tab-link">
              <svg class="icon">
                <use xlink:href="img/svg/standards.svg#podlahy"></use>
              </svg>
              podlahy
            </a>
          </div>
          <div class="col-6">
            <a href="#tab1" class="home-standards-tab-link js-home-standards-tab-link">
              <svg class="icon">
                <use xlink:href="img/svg/standards.svg#sanita"></use>
              </svg>
              sanita
            </a>
          </div>
          <div class="col-6">
            <a href="#tab1" class="home-standards-tab-link js-home-standards-tab-link">
              <svg class="icon">
                <use xlink:href="img/svg/standards.svg#sanita"></use>
              </svg>
              sanita
            </a>
          </div>
          <div class="col-6">
            <a href="#tab2" class="home-standards-tab-link js-home-standards-tab-link">
              <svg class="icon">
                <use xlink:href="img/svg/standards.svg#podlahy"></use>
              </svg>
              podlahy
            </a>
          </div>
          <div class="col-6">
            <a href="#tab2" class="home-standards-tab-link js-home-standards-tab-link">
              <svg class="icon">
                <use xlink:href="img/svg/standards.svg#podlahy"></use>
              </svg>
              podlahy
            </a>
          </div>
          <div class="col-6">
            <a href="#tab1" class="home-standards-tab-link js-home-standards-tab-link active">
              <svg class="icon">
                <use xlink:href="img/svg/standards.svg#sanita"></use>
              </svg>
              sanita
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="map-section">
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5z2f31qKHGFhEaMCRoYmKtQPZJXUy1-4&callback=initMap">
    </script>
    <script>
      let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 49.59552, lng: 17.25175 },
          zoom: 12,
        });
      }
    </script>
    <div id="map" class="google-map">
    </div>
  </section>
  <section class="news-section">
    <h2>Aktuality</h2>
    <div class="news-slider js-news-slider">
      <a href="#" class="news-slider-item text-center">
        <img data-lazy="img/jpg/news-1.jpg" alt="">
        <span class="date text-center">
          21 / 10 <br>
          2021
        </span>
        <h3>Cursus nisl vestibulum viverra </h3>
        <p>
          Nunc ultrices leo eget ligula eleifend aliquam. Maecenas in cursus ipsum. Nulla vitae rutrum est, et cursus nisl vestibulum viv.
        </p>
      </a>
      <a href="#" class="news-slider-item text-center">
        <img data-lazy="img/jpg/news-2.jpg" alt="">
        <span class="date text-center">
          21 / 10 <br>
          2021
        </span>
        <h3>Cursus nisl vestibulum viverra </h3>
        <p>
          Nunc ultrices leo eget ligula eleifend aliquam. Maecenas in cursus ipsum. Nulla vitae rutrum est, et cursus nisl vestibulum viv.
        </p>
      </a>
      <a href="#" class="news-slider-item text-center">
        <img data-lazy="img/jpg/news-1.jpg" alt="">
        <span class="date text-center">
          21 / 10 <br>
          2021
        </span>
        <h3>Cursus nisl vestibulum viverra </h3>
        <p>
          Nunc ultrices leo eget ligula eleifend aliquam. Maecenas in cursus ipsum. Nulla vitae rutrum est, et cursus nisl vestibulum viv.
        </p>
      </a>
      <a href="#" class="news-slider-item text-center">
        <img data-lazy="img/jpg/news-2.jpg" alt="">
        <span class="date text-center">
          21 / 10 <br>
          2021
        </span>
        <h3>Cursus nisl vestibulum viverra </h3>
        <p>
          Nunc ultrices leo eget ligula eleifend aliquam. Maecenas in cursus ipsum. Nulla vitae rutrum est, et cursus nisl vestibulum viv.
        </p>
      </a>
    </div>
    <div class="container-fluid d-flex justify-content-center justify-content-md-end">
      <a href="#" class="btn btn-primary">
        Zobrazit více
      </a>
    </div>

  </section>
  <section class="contact-form-section">
    <div class="container">
      <h3 class="mb-3 mb-lg-5">
        Kontaktujte nás
      </h3>
      <form class="contact-form" action="index.html" method="post">
        <div class="row g-4">
          <div class="col-lg-6">
            <div class="row g-4">
              <div class="col-md-6">
                <input type="text" name="name" placeholder="jméno" value="" class="form-control">
              </div>
              <div class="col-md-6">
                <input type="text" name="surname" placeholder="přijmení" value="" class="form-control">
              </div>
              <div class="col-md-6">
                <input type="email" name="email" placeholder="e-mail" value="" class="form-control">
              </div>
              <div class="col-md-6">
                <input type="tel" name="phone" placeholder="telefon" value="" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <textarea name="message" placeholder="Vaše zpráva" rows="5" class="form-control"></textarea>
          </div>
          <div class="col-lg-6 d-flex align-items-center">
            <p class="mb-0">
              Curabitur tincidunt felis et nisi efficitur pretium. Suspendisse efficitur purus sem, eu cursus.
            </p>
          </div>
          <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-end">
            <button type="submint" name="contactFormButton" class="btn btn-lg btn-primary">
              odeslat zprávu
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
{% endblock %}
