.header {
  position: fixed;
  z-index: 1000;
  top: -90px;
  left: 0;
  width: 100%;
  background-color: $secondary;
  border-top: 2px solid $primary;
  padding: 1.5rem 0;
  transition: all 500ms ease;

  &-new {
    top: 0;
  }

  &-detail {
    top: 0;
    background-color: transparent;

    @media (max-width: 991.98px) {
      background-color: $secondary;
    }
  }

  &.scrolling {
    top: 0;
    background-color: $secondary;
  }

  &-logo {
    display: block;
    width: 140px;

    img {
      width: 100%;
    }

    @media (min-width: 1200px) {
      width: 200px;
    }
  }

  &-address {
    color: #fff;
    text-align: center;
  }

  &-mobile-contacts {
    a {
      text-transform: none !important;
      font-size: 1.125rem !important;
    }
  }
}

.main-nav {
  ul {
    li {
      display: inline-block;

      a {
        color: #fff;
        text-decoration: none !important;
        text-transform: uppercase;
        padding: 0 0.5rem;
        font-size: 0.875rem;

        &:hover {
          color: $primary;
        }
      }

      @media (min-width: 1200px) {
        a {
          padding: 0 1rem;
          font-size: 1rem;
        }
      }
    }
  }

  @media (max-width: 991.98px) {
    display: none;
    position: fixed;
    top: 76px;
    left: 0;
    width: 100%;
    height: calc(100vh - 76px);
    background-color: $secondary;

    ul {
      padding-top: 1rem;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
      }
    }
  }

  @media (min-width: 992px) {
    display: block !important;
  }
}

.header-contact {
  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  &:hover {
    svg {
      fill: $primary;
    }
  }
}

.menu-toggler {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0;

    &-close {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
