<footer class="footer">
  <div class="container-fluid d-flex align-items-center justify-content-center">
      <img src="img/svg/logo-footer.svg" alt="" class="footer-logo">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column align-items-center align-items-lg-start mb-5 mb-lg-0">
        <a href="mailto:prodej@simplonpower.cz" class="footer-contact mb-3 mb-lg-4">
          <svg class="icon me-4">
            <use xlink:href="img/svg/header-icons.svg#phone"></use>
          </svg>
          +420 601 357 038
        </a>
        <a href="tel:+420601357038" class="footer-contact">
          <svg class="icon me-4">
            <use xlink:href="img/svg/header-icons.svg#mail"></use>
          </svg>
          prodej@simplonpower.cz
        </a>
      </div>
      <div class="col-lg-6 text-center text-lg-start mb-5 mb-lg-0">
        <img src="img/svg/logo-simplon.svg" alt="" class="footer-logo-simplon mb-4">
        <div class="footer-address">
          <strong>SIMPLON INVEST ALFA S.R.O.</strong><br>
          tř. Svornosti 1177/57<br>
          Olomouc 779 00<br>
          Česká republika<br>
          IČ 043 95 913
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-auto">
    <div class="row">
      <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
        <ul class="footer-list">
          <li>© 2021 Simplon Power </li>
          <li>Webdesign: <a href="https://www.orbinet.cz" target="_blank">Orbinet.cz</a></li>
        </ul>
      </div>
      <div class="col-md-6 d-flex justify-content-center justify-content-lg-end">
        <div class="footer-socials d-flex align-items-center">
          <a href="#">
            <svg class="icon me-4 me-xl-5">
              <use xlink:href="img/svg/header-icons.svg#fb"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="icon me-4 me-xl-5">
              <use xlink:href="img/svg/socials.svg#twitter"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="icon me-0">
              <use xlink:href="img/svg/socials.svg#youtube"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
