<header class="header">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a href="#" class="header-logo">
      <img src="img/svg/logo-gold.svg" alt="">
    </a>
    <nav id="mainMenu" class="main-nav">
      <ul>
        <li>
          <a href="#">ÚVOD</a>
        </li>
        <li>
          <a href="#">VÝBĚR PARCELY</a>
        </li>
        <li>
          <a href="#">o projektu</a>
        </li>
        <li>
          <a href="#">TYPY DOMŮ</a>
        </li>
        <li>
          <a href="#">standardy</a>
        </li>
        <li>
          <a href="#">AKTUALITY</a>
        </li>
        <li class="mb-5 mb-lg-0">
          <a href="#">KONTAKT</a>
        </li>
        <li class="header-mobile-contacts d-flex flex-column d-lg-none">
          <a href="tel:+420601357038" class="header-contact mb-4">
            <svg class="icon">
              <use xlink:href="img/svg/header-icons.svg#phone"></use>
            </svg>
            +420 601 357 038
          </a>
          <a href="mailto:prodej@simplonpower.cz" class="header-contact mb-4">
            <svg class="icon">
              <use xlink:href="img/svg/header-icons.svg#mail"></use>
            </svg>
            prodej@simplonpower.cz
          </a>
          <div class="header-address">
            <strong>SIMPLON INVEST ALFA S.R.O.</strong><br>
            tř. Svornosti 1177/57<br>
            Olomouc 779 00<br>
            Česká republika<br>
            IČ 043 95 913
          </div>
        </li>
      </ul>
    </nav>
    <div class="d-none d-lg-flex align-items-center">
      <a href="mailto:prodej@simplonpower.cz" class="header-contact">
        <svg class="icon me-4 me-xl-5">
          <use xlink:href="img/svg/header-icons.svg#mail"></use>
        </svg>
      </a>
      <a href="tel:+420601357038" class="header-contact">
        <svg class="icon me-4 me-xl-5">
          <use xlink:href="img/svg/header-icons.svg#phone"></use>
        </svg>
      </a>
      <a href="#" class="header-contact">
        <svg class="icon me-0">
          <use xlink:href="img/svg/header-icons.svg#fb"></use>
        </svg>
      </a>
    </div>
    <a href="#" class="menu-toggler js-menu-toggler d-lg-none" data-id="#mainMenu">
      <span class="icon icon-menu"></span>
      <span class="icon icon-close d-none"></span>
    </a>
  </div>
</header>
